@{
    var userName = Session["UserLoggedName"] != null ? Session["UserLoggedName"].ToString() : "";
    var user = (PELMS.Models.ViewModels.UserSessionViewModel)Session["UserLogged"];
}

<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-4 text-white">
    <a href="@Url.Action("Index", "Home")" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-decoration-none w-100">
        <img src="@Url.Content("~/Content/Images/pe-logo-sample.jpg")" alt="PE LMS" class="img-fluid rounded w-100">
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

        @if (user == null)
        {
            <li class="nav-item w-100">
                @Html.ActionLink("LOGIN", "Login", "UserAccount", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
            </li>
            <li class="nav-item w-100">
                @Html.ActionLink("REGISTER", "Create", "UserAccount", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
            </li>
        }

        @*<li class="nav-item w-100">
            @Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
        </li>*@
        <li class="nav-item w-100">
            @Html.ActionLink("ABOUT", "About", "Home", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
        </li>
        <li class="nav-item w-100">
            @Html.ActionLink("CONTACT US", "Contact", "Home", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
        </li>

        @if (user != null)
        {
            if (user.Role == "Student")
            {
                <li class="nav-item w-100">
                    @Html.ActionLink("PROFILE", "Edit", "StudentProfile", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
                </li>
                <li class="nav-item w-100">
                    @Html.ActionLink("FITNESS TEST", "VideoPage", "Test", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
                </li>
                <li class="nav-item w-100">
                    @Html.ActionLink("MY FITNESS DASHBOARD", "ScoreCard", "StudentProfile", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
                </li>
            }
            else if (user.Role == "Teacher")
            {
                <li class="nav-item w-100">
                    @Html.ActionLink("PROFILE", "Edit", "TeacherProfile", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
                </li>
                <li class="nav-item w-100">
                    @Html.ActionLink("MY STUDENTS", "Index", "StudentProfile", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
                </li>
            }
            else
            {
                <li class="nav-item w-100">
                    @Html.ActionLink("STUDENT ACCOUNTS", "Index", "StudentProfile", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
                </li>
                <li class="nav-item w-100">
                    @Html.ActionLink("TEACHER ACCOUNTS", "Index", "TeacherProfile", new { area = "" }, new { @class = "nav-link align-middle px-0 text-white" })
                </li>
            }
        }

    </ul>
</div>
<div class="px-3 pb-4 w-100">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
        <li class="nav-item w-100">
            @using (Html.BeginForm("Exit", "UserAccount", FormMethod.Post, new { id = "exitForm" }))
            {
                if (!string.IsNullOrEmpty(userName))
                {
                    if (user.Role == "Student")
                    {
                        @Html.ActionLink(userName, "ScoreCard", "StudentProfile", new { area = "" }, new { @class = "btn btn-outline-primary w-100" })
                    }
                    else
                    {
                        @Html.ActionLink(userName, "Index", "StudentProfile", new { area = "" }, new { @class = "btn btn-outline-primary w-100" })
                    }

                    <br /><br />
                    <button class="btn btn-outline-primary w-100" type="submit">LOGOUT</button>
                }
            }

        </li>
        <li class="nav-item w-100 mt-3 text-white">
            @Html.Partial("_Footer")
        </li>
    </ul>
</div>
