@model PELMS.Models.ViewModels.StudentProfileViewModel

@{
    ViewBag.Title = "Create Student Account";
}
    <section class="p-1 d-flex flex-column align-items-center">
        <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
            <div class="d-flex align-items-center">
                @Html.Partial("_NavToggle")
                <span class="fs-5">Student - @ViewBag.Title</span>
            </div>
            @Html.ActionLink("Go Back", "Index", "Home", null, new { @class = "btn btn-outline-primary"})
        </div>
        <div class="card border-0">
            <div class="card-body row">
                <div class="col d-flex flex-column justify-content-center align-items-center">
                @using (Html.BeginForm()) 
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="border mb-3 p-3 rounded">
                        <p class="fs-5 fw-bolder">Personal Information</p>
                        <div class="mb-2">
                            @Html.LabelFor(model => model.StudentNumber, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.StudentNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>

                            <div class=" col">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>

                            <div class="col">
                                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class=" col">
                                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control d-inline-block w-auto" } })
                                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                            </div>

                            <div class="col">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control d-inline-block w-auto" } })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="border mb-2 p-3 rounded">
                        <p class="fs-5 fw-bolder">Student Information</p>
                        <div class="row mb-2">
                            <div class="col">
                                @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.TeacherName, new { htmlAttributes = new { @class = "form-control d-inline-block w-auto" } })
                                @Html.ValidationMessageFor(model => model.TeacherName, "", new { @class = "text-danger" })
                            </div>

                            <div class="col">
                                @Html.LabelFor(model => model.School, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.School, new { htmlAttributes = new { @class = "form-control d-inline-block w-auto" } })
                                @Html.ValidationMessageFor(model => model.School, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col">
                                @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Level, new { htmlAttributes = new { @class = "form-control d-inline-block w-auto" } })
                                @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                            </div>

                            <div class="col">
                                @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Section, new { htmlAttributes = new { @class = "form-control d-inline-block w-auto" } })
                                @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="border mb-2 p-3 rounded">
                        <p class="fs-5 fw-bolder">BMI Information</p>
                        <div class="row mb-2">
                            <div class="col">
                                @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control d-inline-block w-auto" } })
                                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                            </div>

                            <div class="col">
                                @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control d-inline-block w-auto" } })
                                @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                            </div>

                            <div class="col">
                                @Html.LabelFor(model => model.BodyType, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.BodyType, new { htmlAttributes = new { @class = "form-control d-inline-block w-auto" } })
                                @Html.ValidationMessageFor(model => model.BodyType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 my-3 w-100">
                        <button type="submit" class="btn btn-primary">Create Student Account</button>
                    </div>
                }
                </div>
                <div class="col">
                    <img src="@Url.Content("~/Content/Images/sports-teacher-with-her-students.jpg")" class="border rounded img-fluid" alt="teacher">
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
