@model PELMS.Models.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@{
    ViewBag.Title = "Login";
}

<div class="row vh-100 vw-100 g-0">
    <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
        <div class="card card-size">
            <div class="card-body p-5 d-flex flex-column justify-content-center align-items-center card-form">
                <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                    <img src="@Url.Content("~/Content/Images/pe-logo-sample.jpg")" alt="logo-temporary" class="img-thumbnail" />
                </div>
                <div class="w-100">
                    @using (Html.BeginForm()) 
                        {
                            @Html.AntiForgeryToken()
                            
                            <div class="mb-3 w-100">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            
                            <div class="mb-3 w-100">
                                @Html.LabelFor(model => model.UserName, new { @class = "form-label" })
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your username" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>

                            <div class="mb-3 w-100">
                                @Html.LabelFor(model => model.Password, new { @class = "form-label"})
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger "})
                            </div>

                            <div class="d-grid gap-2 mb-3 w-100">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        }
                </div>
                <div class="d-grid gap-2 w-100">
                    @Html.ActionLink("Create an Account", "Create", "UserAccount", null, new { @class = "btn btn-outline-primary"})
                </div>
                <div class="d-grid gap-2 w-100 mb-4">
                    <button class="btn btn-link text-decoration-none">Forgot Password?</button>
                </div>
                @Html.Partial("_Footer")
            </div>
        </div>
    </div>
    <div class="col-md-6 d-none d-md-flex justify-content-center align-items-center image-container">
        <img src="@Url.Content("~/Content/Images/full-shot-man-sitting-yoga-mat.jpg")" class="login-image" alt="login image">
    </div>
    <!-- Background image for smaller screens -->
    <div class="col-12 d-md-none login-background-image">
        <img src="@Url.Content("~/Content/Images/full-shot-man-sitting-yoga-mat.jpg")" class="img-fluid" alt="login image">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
